# Node.js
/backend/node_modules/
/frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
/backend/dist/
/frontend/dist/
*.tsbuildinfo

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Others
.env
